=============== 
Unity generated
===============
HopHop/Temp/
HopHop/Library/

=====================================
Visual Studio / MonoDevelop generated
=====================================
HopHop/ExportedObj/
HopHop/obj/
*.svd
*.userprefs
/HopHop/*.csproj
*.pidb
*.suo
/HopHop/*.sln
*.user
*.unityproj
*.booproj
.vs
*.dwlt

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
HopHop/remote_config_data
HopHop/Logs/
temp_res
release
HopHop/.vsconfig
HopHop/.vs
HopHop/.idea
HopHop/.vs/
HopHop/.idea/
HopHop/Layouts/
HopHop/UserSettings/
HopHop/Assets/BuildReports/
HopHop/.vscode/settings.json
HopHop/Bundles/
Build/
HopHop/Assets/FindReference2/
HopHop/Assets/FindReference2.meta
HopHop/Assets/FR2_Cache.asset
HopHop/Assets/FR2_Cache.asset.meta
HopHop/Assets/DOTween/
HopHop/Assets/Editor/
HopHop/Assets/Plugins/
HopHop/Assets/Firebase/
HopHop/Assets/ExternalDependencyManager/
HopHop/Assets/Editor Default Resources/Firebase/firebase_lockup_dark.png.meta
HopHop/Assets/Editor Default Resources/
HopHop/Assets/Editor Default Resources.meta
HopHop/Assets/ExternalDependencyManager.meta
HopHop/Assets/Firebase.meta
HopHop/Assets/Plugins.meta
HopHop/Assets/DOTween.meta
HopHop/Assets/Resources/
HopHop/Assets/Resources.meta
